<div class="app">
  <span class="app-title"> Your role: {{ userRole | async }} </span>

  <div class="role-buttons-list">
    <div class="role-buttons-item">
      <span class="role-buttons-title">Basic</span>
      <div class="role-buttons">
        <button
          mat-button
          color="primary"
          [isViewerDisabled]="(isAdmin | async) === true"
          [viewerTooltipMessage]="'Role USER are not allowed 123'"
        >
          USER
        </button>

        <button mat-button [isViewerDisabled]="(isAdmin | async) === false">
          ADMIN
        </button>
      </div>
    </div>

    <div class="role-buttons-item">
      <span class="role-buttons-title">Flat</span>
      <div class="role-buttons">
        <button
          mat-flat-button
          color="primary"
          [isViewerDisabled]="(isAdmin | async) === true"
          [viewerTooltipMessage]="'Role USER are not allowed 123'"
        >
          USER
        </button>

        <button
          mat-flat-button
          [isViewerDisabled]="(isAdmin | async) === false"
        >
          ADMIN
        </button>
      </div>
    </div>

    <div class="role-buttons-item">
      <span class="role-buttons-title">Stroked</span>
      <div class="role-buttons">
        <button
          mat-stroked-button
          color="primary"
          [isViewerDisabled]="(isAdmin | async) === true"
          [viewerTooltipMessage]="'Role USER are not allowed 123'"
        >
          USER
        </button>

        <button
          mat-stroked-button
          [isViewerDisabled]="(isAdmin | async) === false"
        >
          ADMIN
        </button>
      </div>
    </div>

    <div class="role-buttons-item">
      <span class="role-buttons-title">Raised</span>
      <div class="role-buttons">
        <button
          mat-raised-button
          color="primary"
          [isViewerDisabled]="(isAdmin | async) === true"
          [viewerTooltipMessage]="'Role USER are not allowed 123'"
        >
          USER
        </button>

        <button
          mat-raised-button
          [isViewerDisabled]="(isAdmin | async) === false"
        >
          ADMIN
        </button>
      </div>
    </div>
  </div>
</div>
